form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#moodSelect {
    width: 100px;
}

button {
    display: flex;
    width: 150px;
    margin: 10px;
}

.journalDate {
    display: flex;
    flex-direction: column;
}

.conceptsCovered {
    display: flex;
    flex-direction: column;
}

.journalEntry {
    display: flex;
    flex-direction: column;
}

.moodSelect {
    display: flex;
    flex-direction: column;
}

.journalEntry--container {
    border: 1px solid black;
    margin: 20px;
    text-align: center;
}

.journalEntry--main {
    margin: 20px;
}

.journalEntry--title {
    font-size: 1.5em;
    text-decoration: underline;
}

.journalEntry--mood {
    font-style: italic; 
}